.tab-header-true {
    padding: 0;
    padding-top: 30px;
}

.tab-header-container {
    height: 40px;
}

.online-tab-container {
    background-color: #0074D9;
}

.chat-tab-container {
    background-color: blue;
}

.tab-header {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 16px;
}

.header-status {
    float: right;
    padding-right: 20px; 
}

.fixed-window {
    height: 236px;
    width:100%;
    max-width: 350px; 
    background-color: #FFFAFA; 
    clear:both;
    overflow-y: scroll;
}

.online-users-list {
    height: 372px; 
    width:100%;
    max-width: 350px; 
    background-color: #FFFAFA; 
    clear:both;
    overflow-y: scroll;
}

.list-container {
    margin-left: 2px;
    padding: 5px 12px;
    color: black;
}

.list-name {
    padding: 20px;
}

.chat-btn {
    float: right;
    width: 74px;
}

.chat-area {
    width:100%;
    max-width: 350px; 
    background-color: #FFFAFA; 
    clear:both;
    overflow-y: scroll;
}

.chat-input-container {
    float: left;
    width: /*280px;*/350px;
    height: 36px;
    padding-left: 1px;
    top: 314.4px;
}

.chat-input {
    height: 30px;
    font-size: 16px;
}

.speech-bubble {
    font-size: 15px;
    margin: 10px 20px;
    padding: 10px 20px;
    min-width: 100px;
    min-height: 40px;
    max-width: 240px;
    word-wrap: break-word;
}

.speech-bubble-right {
	background: #51c95b;
    border-radius: 40px;
    float: right;
}

.speech-bubble-right:after {
	border: 40px solid transparent;
	border-right-color: #51c95b;
}

.speech-bubble-left {
	background: #6dbeda;
    border-radius: 40px;
    float: left;
}

.speech-bubble-left:after {
	border: 40px solid transparent;
	border-left-color: #6dbeda;
}
