.material-flat-input{
	display: inline-block;
	color: black;
	box-sizing: border-box;
	background-color: rgba(249,249,249,1);
	border-radius: 2px;
	width: 100%;
	transition:background-color 0.5s ease;
}